@font-face {
    font-family: 'montserrat';
    src: url(./fonts/Montserrat-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'fraunces';
    src: url(./fonts/Fraunces_9pt-Regular.ttf) format(truetype);
}

body{
    background-color: hsl(30, 38%, 92%);
}

li{
    list-style: none;
}
.content{
    display: flex;
    position:absolute;
    left:15%;
    height:60vw;
    width:70%;
    flex-direction: row;
    top:20%;

}

.product{
    position: absolute;
    width:50%;
    height:100%;
    border-radius: 10% 0 0 10%;
    
}
.mobile{
    display:none;
}
.info{
    display:flex;
  position: absolute;
   left: 50%;
  
   background-color: white;
   width:50%;
   height:100%;
   flex-direction: column;
   border-radius: 0 10% 10% 0;
   flex-wrap: wrap;
}
.btn{
   position:absolute;
    font-family: 'fraunces', sans-serif;
    font-weight: 700;
    background-color:darkcyan;
    cursor: pointer;
    border-radius: 1rem;
    width:80%;
   top:80%;     
   font-size:1.5vw;
   left:10%;
   height:5vw;
   color: white;
}
.cart{
    height:3vw;
    width:3vw;
    position: absolute;
    left:5vw;
    top:1vw;
}
.btn:hover{
    background-color: hsl(158, 36%, 37%);
    border-radius: 0.5rem;
}
h1{
    position: absolute;
    font-family: 'fraunces', sans-serif;
    font-weight: 700;
    left: 10%;
    overflow-wrap: break-word;
    width:75%;
    font-size: 3vw;
    top:10%;
}
h3{
    position: absolute;
    font-family: 'montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: 500 700;
    letter-spacing: 2px;
    left:10%;
    overflow-wrap: break-word;
    width:75%;
    top:5%;
}

p{
    position:absolute; 
    left :10%;
    font-family: 'montserrat', sans-serif;
    font-size: 1.75vw;
    font-weight: 500 700;
    text-align: left;
    overflow-wrap: break-word;
    width:75%;
    top:35%;

}
.discount{
    font-family: 'fraunces', sans-serif;
    font-weight: 700;
    font-size:1.5vw;
    text-decoration: line-through;
    left: 30%;
    position: absolute;
    width:75%;
   opacity: 0.5;
   top:60%
    
   
}
.pricing{
    position:absolute;
    left:10%;
    font-family: 'fraunces', sans-serif;
    font-weight: 700;
    position: relative;
    width: 75%;
    font-size: 2vw;
    height: 2vw;
    top: 65%;
}

@media screen and (max-width:375px)  {
    

    
    @font-face {
        font-family: 'montserrat';
        src: url(./fonts/Montserrat-Regular.ttf) format(truetype);
    }
    @font-face {
        font-family: 'fraunces';
        src: url(./fonts/Fraunces_9pt-Regular.ttf) format(truetype);
    }
    
    body{
        background-color: hsl(30, 38%, 92%);
        height: 150vw;
        width:100vw;
    }
    
    
    .content{
        position: absolute;
        display:block ;
       width:80vw;
       height:120vw;
       flex-direction: row;
      flex-wrap: wrap; 
      top:10vw;
      left:10vw;
       
    }
    .product{
    display:none;
    
    }
    .photo{
        width: 80vw;
       height: 70vw;
    }
    .mobile{
        display: block;
        width: 80vw;
       height: 70vw;
       border-radius: 10% 10% 0 0;
        
    }
    .info{
       width: 80vw;
       height: 70vw;
       left: 0;
       border-radius: 0 0 10% 10% ;
    }
    h3{
        font-size:2.5vw;

    }
    h1{
        font-size:5vw;
    }
    p{
        font-size: 3vw;
    }
    .discount{
        font-size: 2.5vw;
        width: fit-content;
    }
    .pricing{
        font-size: 4vw;
    }
    .btn{
        height:6vw;
        font-size: 3vw;
    }
    .cart{
        left:10vw;
    }
}
